<section id="about">

    <div class="container-fluid" data-aos="fade-down" data-aos-duration="1000">
      
      <div class="col-12 text-center text-uppercase about-heading mb-5">
        <h2 class="mb-5">About <span class="mb-5">Me</span> </h2>
      </div>

      <div class="row d-flex justify-content-center align-items-center">

        <div class="col-lg-4">
          <div class="img-holder">
            <img class="img-fluid" src="images/yashas_about.jpg" alt="" srcset="">
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="about-text">
            <h3>Hi, I am Yashas BhadreGowda</h3>
            <p class="my-3">- It's My Pleasure to Introduce About Myself.</p>
            <p class="my-4">I completed my Bachelor's of Engineering in Information science and Engineering stream  from Channabasaveshwara Institute of Technology, India.
             I worked as Front-End Developer at Oracle, India with 4+ years of IT experience and currently pursing post-graduation certificate course on Mobile solution development at Conestoga college.      
            </p>
            <div class="shortdesc">
              <div class="contain d-flex flex-wrap">
                <p class="first">Name:</p>
                <p class="second">Yashas BhadreGowda</p>

              </div>
              <div class="contain d-flex flex-wrap">
                <p class="first">E-mail:</p>
                <p class="second">yashas.bhadregowda@gmail.com</p>

              </div>
              <div class="contain d-flex flex-wrap">
                <p class="first">Birthday:</p>
                <p class="second">May 29th 1996</p>

              </div>
              <div class="contain d-flex flex-wrap">
                <p class="first">Graduation:</p>
                <p class="second">Information Science and Engineering </p>
              </div>
               <div class="contain d-flex flex-wrap">
                <p class="first">Post-Graduation:</p>
                <p class="second">Mobile Solutions Development </p>
              </div>
              <div class="contain d-flex flex-wrap">
                <p class="first">Freelance:</p>
                <p class="second">Available</p>

              </div>
            </div>

            <div class="socialicons">
              <a href="https://www.facebook.com/yashas.gsb/" target="_blank"> <i class="fab fa-facebook"></i> </a>
              <a href="https://github.com/yashas1" target="_blank"> <i class="fab fa-github"></i> </a>
              <a href="https://twitter.com/yashas" target="_blank"> <i class="fab fa-twitter"></i> </a>
              <a href="https://www.linkedin.com/in/yashas-b-67b5a9122/" target="_blank"> <i class="fab fa-linkedin"></i> </a>
             
            </div>


            <div class="button-container d-flex flex-wrap">
              <a class="mr-1" target="_blank" href="https://drive.google.com/file/d/1lW_WP5KvQYw5N3ytRFf31-zSYkW66vPk/view?usp=sharing"> Download CV <i class="fas fa-download ml-2"></i> </a>
              <a class="ml-1" href="tel:+1 548331273"> Hire Me <i class="fas fa-file ml-2"></i> </a>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!---Skills Section-->
  <section id="skills">
    <div class="container">
      <div class="col-12 text-center text-uppercase skills-heading mb-5">
        <h2 class="mb-5">My <span class="mb-5">Skills</span> </h2>
        <p class="mb-5 skillp">
I have vast experience on latest cutting-edge technologies, which are needed for the Software development technology(MREN).

        </p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4  skill mt-3" data-aos="zoom-in" data-aos-duration="1000">
          <div class="skills">
            <p>JavaScript</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>

          </div>

        </div>
        <div class="col-lg-3 col-md-4  skill mt-3" data-aos="zoom-in" data-aos-duration="1000">
          <div class="skills">
            <p>React JS</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 84%" aria-valuenow="84" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>

          </div>

        </div>
        <div class="col-lg-3 col-md-4  skill mt-3" data-aos="zoom-in" data-aos-duration="1000">
          <div class="skills">
            <p>Node JS</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>

          </div>

        </div>
        <div class="col-lg-3 col-md-4  skill mt-3" data-aos="zoom-in" data-aos-duration="1000">
          <div class="skills">
            <p>HTML,CSS</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>

          </div>

        </div>
        <div class="col-lg-3 col-md-4  skill mt-3" data-aos="zoom-in" data-aos-duration="1000">
          <div class="skills">
            <p>C#</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 61%" aria-valuenow="61" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>

          </div>

        </div>


         <div class="col-lg-3 col-md-4  skill mt-3" data-aos="zoom-in" data-aos-duration="1000">
          <div class="skills">
            <p>Next JS</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>

          </div>

        </div>
         <div class="col-lg-3 col-md-4  skill mt-3" data-aos="zoom-in" data-aos-duration="1000">
          <div class="skills">
            <p>MongoDB</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 61%" aria-valuenow="61" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
       <div class="col-lg-3 col-md-4  skill mt-3" data-aos="zoom-in" data-aos-duration="1000">
          <div class="skills">
            <p>Adobe XD</p>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 61%" aria-valuenow="61" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
