<!---Header Section-->
  <section id="header">
    <!---Header section-->
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
         
        <div class="col-lg-8 col-12 d-flex flex-column justify-content-center align-items-center header-content">
          <h2 class="fontchanage">Yashas BhadreGowda <span id="blink"></span> </h2>
          <div class="img-container">
            <img class="img-fluid" src="images/test2.jpg" alt="SSN" srcset="">
          </div>

          <h2 class="fontchanage">HELLO! Welcome To My Portfolio </h2>
         <h5 id="blinkh5">I am an Front-end Developer at Oracle.</h5>
     
      <div class="navbar_items_contact">
			   <ul>
        <li><h3 class="fontchanage" >Follow Me:</h3></li>
				<li><a class="nav-link" aria-current="page" href="https://www.facebook.com/yashas.gsb/" target="_blank"> <i class="fab fa-facebook fa-2x"></i> </a></li>
				<li><a class="nav-link" href="https://twitter.com/yashas" target="_blank"> <i class="fab fa-twitter-square fa-2x"></i> </a></li>
				<li><a class="nav-link" href="https://github.com/yashas1" target="_blank"> <i class="fab fa-github-square fa-2x"></i> </a></li>
				<li><a class="nav-link" href="https://www.linkedin.com/in/yashas-b-67b5a9122/" target="_blank"> <i class="fab fa-linkedin fa-2x"></i></a></li>
			 </ul>
		  </div>

          <div class="button-container text-center">
            <a class="mr-1 mt-3" href="#">About Me <i class="fas fa-user ml-2"></i> </a>
            <a class="ml-1 mt-3" href="/contact">Get in Touch <i class="fas fa-envelope ml-2"></i> </a>
          </div>       
        </div>
      </div>
    </div>

  </section>


