<!DOCTYPE html>
<!--- Main layout --->
<html>
  <head>
    <title>{{title}}</title>
    <!---Bootstrap css-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
    integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

  <!---Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

  <!--Font awesome -->
  <script src="https://kit.fontawesome.com/5888afab31.js" crossorigin="anonymous"></script>

  <!--typed.js cdn-->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

  <!--Animate on Scroll CSS-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <!--- Header Navigation Bar Section-->
    <div id="header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">My Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home <i class="fas fa-home"></i> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About <i class="fas fa-address-card"></i> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects">My Projects <i class="fas fa-briefcase"></i> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact <i class="fas fa-address-book"></i> </a>
            </li>


          </ul>

        </div>
      </div>
    </nav>
    </div>  
    {{{body}}}

  <section id="footer">
    <div class="container">
      <div class="row">
        <hr>
        <div class="col-6 text-center">
          <small>Made with <i class="fas fa-heart"></i> By : <span id="blinkh5">Yashas Bhadregowda</span> </small>
        </div>
         <div class="col-6 ">
        <div class="navbar_items_footercontact">
			   <ul>
        <li><small class="fontchanage" >Check My profile:</small></li>
				<li><a class="nav-link" href="https://github.com/yashas1" target="_blank"> <i class="fab fa-github-square fa"></i> </a></li>
				<li><a class="nav-link" href="https://www.linkedin.com/in/yashas-b-67b5a9122/" target="_blank"> <i class="fab fa-linkedin fa"></i></a></li>
			 </ul>
		  </div>
      </div>
    </div>
  </section>



<!---AOS JS-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!--Initialise AOS-->
<!-- For making the blink design in home page -->
<script>
  AOS.init();
</script>
  <script>
    var typed = new Typed('#blink', {
      strings: [
        "FULLSTACK Developer.",
        "UX/UI Designer.",
      ],
      typeSpeed: 80,
      backSpeed: 80,
      loop: true,
    });
  </script>


<!--- Jquery for bootstrsp-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<!--- Script for project page My prortoflio to activate -->
<script>
    $(document).ready(function () {
      $('.list').click(function () {
        const value = $(this).attr('data-filter');
        if (value == 'All') {
          $('.main').show('1000');
        }

        else {
          $('.main').not('.' + value).hide('1000');
          $('.main').filter('.' + value).show('1000');
        }
      })

      //add active class on selected item

      $('.list').click(function () {
        $(this).addClass('active').siblings().removeClass('active');
      })
    }


    )
  </script>
  <!---Bootstrap js-->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
    integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
    crossorigin="anonymous"></script>


  </body>
</html>
