
  <!---Portfolio Section-->
<section id="mywork">

    <div class="container">

      <div class="col-12 text-center text-uppercase mywork-heading mb-5">
        <h2 class="mb-5">My <span class="mb-5">Projects</span> </h2>
        <p class="mb-5">Here you can see my latest projects i worked on and some of them are hosted on heroku!!!!
        </p>
      </div>


      <div class="col-12">
        
        <ul class="d-flex mb-5 flex-wrap">
       
          <li class="list active" data-filter="All">All</li>
          <li class="list" data-filter="Recent">Recent</li>
          <li class="list" data-filter="Popular">Popular</li>
          <li class="list" data-filter="Upcoming">Upcoming</li>
        </ul>
      </div>


      <div class="row">
         <div class="col-md-6 col-lg-4 mb-4 main Recent">
         <a href="https://yashasecommerce.herokuapp.com/" target="_blank"> 
         <div class="image">
            <img class="img-fluid" src="images/work1.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>E-commerce app </h5>
            </div>
          </div>
          </a>
        </div>
         <div class="col-md-6 col-lg-4 mb-4 main Popular" >
           <a href="https://ancient-ravine-52847.herokuapp.com/profiles" target="_blank">
          <div class="image" style="height: 240px;">
            <img class="img-fluid" src="images/work2.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>Profile APP </h5>
            </div>

          </div>
          </a>
        </div>

         <div class="col-md-6 col-lg-4 mb-4 main Recent">
           <a href="https://yashasportfolio.herokuapp.com/" target="_blank">
          <div class="image">
            <img class="img-fluid" src="images/work3.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>Portfolio APP </h5>
            </div>

          </div>
          </a>
        </div>
         <div class="col-md-6 col-lg-4 mb-4 main Upcoming">
           <a href="https://github.com/yashas1/User_session_Tracker" target="_blank">
          <div class="image">
            <img class="img-fluid" src="images/work4.png" alt="" srcset="">
            <div class="workdetails">
              <h5>User Session Tracker </h5>
            </div>

          </div>
          </a>
        </div>

         <div class="col-md-6 col-lg-4 mb-4 main Upcoming">
           <a href="https://github.com/yashas1/OnlinVideoCourse_App" target="_blank">
          <div class="image" style="height: 260px;">
            <img class="img-fluid" src="images/work5.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>Online study portal </h5>
            </div>

          </div>
          </a>
        </div>
         <div class="col-md-6 col-lg-4 mb-4 main Upcoming">
           <a href="https://github.com/yashas1/OnlinVideoCourse_App" target="_blank">
          <div class="image" style="height: 260px;">
            <img class="img-fluid" src="images/work6.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>Pokemon Gallery </h5>
            </div>

          </div>
          </a>
        </div>
      </div>
    </div>
  </section>















<!---Services Section-->

  <section id="services">
    <div class="container">
      <div class="col-12 text-center text-uppercase services-heading mb-5">
        <h2 class="mb-5">My <span class="mb-5">Interest</span> </h2>
        <p class="mb-5">I am a full stack developer!!! I work on web application development , I build Mobile apps both IOS and Android apps.
        Provide services for application enhancment 
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
              <i class="fas fa-drafting-compass"></i>

            </div>
            <h5>Web Design and Development</h5>
            <p>I can build full web sit from the scratch and also i can improve the funcationalites of existing web applications</p>

          </div>

        </div>
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
              <i class="fab fa-quinscape"></i>

            </div>
            <h5>Full Stack application</h5>
            <p>I can Build MERN stack applications as i am good at node js , Mongodb, React and Expressjs</p>

          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
             <i class="fab fa-apple"></i>

            </div>
            <h5>Mobile Applications </h5>
            <p>I can build Mobile apps for both IOS using swift and Andriod  </p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
              <i class="fas fa-border-style"></i>

            </div>
            <h5>UI/UX Design</h5>
            <p>I am good at photoshop and xcode i have done multiple creative app designs.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
              <i class="fab fa-wordpress"></i>

            </div>
            <h5>Wordpress</h5>
            <p>I have done couple of Wordpress website for clients in upwork</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
             <i class="fas fa-envelope"></i>

            </div>
            <h5>Email Marketing</h5>
            <p>I worked on bulding Email campaigns and launching the campaigns using oracle responsys and orcle eloqua.</p>

          </div>
        </div>

      </div>
    </div>
  </section>


  



  