<!---Services Section-->
  <section id="services">
    <div class="container">
      <div class="col-12 text-center text-uppercase services-heading mb-5">
        <h2 class="mb-5">What I Do <span class="mb-5">Services</span> </h2>
        <p class="mb-5">I am a full stack developer!!! I work on web application development , I build Mobile apps both IOS and Android apps.
        Provide services for application enhancment 
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
              <i class="fas fa-drafting-compass"></i>

            </div>
            <h5>Web Design and Development</h5>
            <p>I can build full web sit from the scratch and also i can improve the funcationalites of existing web applications</p>

          </div>

        </div>
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
              <i class="fab fa-quinscape"></i>

            </div>
            <h5>Full Stack application</h5>
            <p>I can Build MERN stack applications as i am good at node js , Mongodb, React and Expressjs</p>

          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
             <i class="fab fa-apple"></i>

            </div>
            <h5>Mobile Applications </h5>
            <p>I can build Mobile apps for both IOS using swift and Andriod  </p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
              <i class="fas fa-border-style"></i>

            </div>
            <h5>UI/UX Design</h5>
            <p>I am good at photoshop and xcode i have done multiple creative app designs.</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
              <i class="fab fa-wordpress"></i>

            </div>
            <h5>Wordpress</h5>
            <p>I have done couple of Wordpress website for clients in upwork</p>

          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5" data-aos="zoom-in" data-aos-duration="1000">
          <div class="service-container">
            <div class="logo">
             <i class="fas fa-envelope"></i>

            </div>
            <h5>Email Marketing</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maiores autem facilis dolore unde?</p>

          </div>
        </div>

      </div>
    </div>
  </section>


  <!---Portfolio Section---->
  <section id="mywork">

    <div class="container">

      <div class="col-12 text-center text-uppercase mywork-heading mb-5">
        <h2 class="mb-5">My <span class="mb-5">Portfolio</span> </h2>
        <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptates delectus ipsa sit minima cupiditate quia quasi totam!
          delectus ipsa sit minima cupiditate quia ipsa sit minima cupiditate.
        </p>
      </div>


      <div class="col-12">
        <ul class="d-flex mb-5 flex-wrap">
          <li class="list active" data-filter="All">All</li>
          <li class="list" data-filter="Recent">Recent</li>
          <li class="list" data-filter="Popular">Popular</li>
          <li class="list" data-filter="Upcoming">Upcoming</li>
        </ul>
      </div>





      <div class="row">

        <div class="col-md-6 col-lg-4 mb-4 main Recent">
          <div class="image">
            <img class="img-fluid" src="images/work1.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>Creative Design</h5>
            </div>

          </div>

        </div>


        <div class="col-md-6 col-lg-4 mb-4 main Recent">
          <div class="image">
            <img class="img-fluid" src="images/work2.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>Web Design</h5>

            </div>

          </div>

        </div>


        <div class="col-md-6 col-lg-4 mb-4 main Popular">
          <div class="image">
            <img class="img-fluid" src="images/work3.jpg" alt="" srcset="">
            <div class="workdetails">

              <h5>UI Design</h5>
            </div>


          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 main Popular">
          <div class="image">
            <img class="img-fluid" src="images/work4.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>Wordpress</h5>

            </div>

          </div>

        </div>


        <div class="col-md-6 col-lg-4 mb-4 main Upcoming">
          <div class="image">
            <img class="img-fluid" src="images/work5.jpg" alt="" srcset="">
            <div class="workdetails">
              <h5>Blogging</h5>

            </div>

          </div>

        </div>


        <div class="col-md-6 col-lg-4 mb-4 main Upcoming">
          <div class="image">
            <img class="img-fluid" src="images/work6.jpg" alt="" srcset="">

            <div class="workdetails">
              <h5>Responsive Design</h5>

            </div>

          </div>

        </div>

      </div>
    </div>
  </section>



  